body {
  font-family: "Cabin", sans-serif;
}


.header {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background: #6d91dc;
  padding: 16px 52px;
  margin: 0 auto;
}

.cart {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
  position: relative;
}
.cart p {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cart img {
  width: 30px;
  height: 40px;
  color: #f8fdfe;
}
.cart span {
  background-color: #f8fdfe;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}
.secondary {
  padding: 4px 52px;
  background: #fff;
}
.header-navigator-menu ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
.secondary p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.header-navigator-menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Main */

.main-wrapper {
  width: 100%;
  background:  #eeeeef;
  margin: 0 auto;
}
.main-title {
  display: flex;
  padding: 36px 0 23px;
  margin: 0 52px;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  border-bottom: 1px solid#A8A8A8;
}

/* form */

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 56px 162px 0;
}

.input-wrapper .first {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 121px;
}

.input-wrapper h3 {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  gap: 32px;
  line-height: 24px;
}

.input-container span,
h3 {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.input-container label {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-container input {
  width: 100%;
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  background: #f5f5f5;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-container input::placeholder {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-container input:focus {
  border: 1.5px solid #2080f6;
  outline: none;
}
.input-container input:disabled {
  border: 1px solid #8e8e8e;
}

.input-container textarea {
  width: 100%;
  resize: none;
  display: flex;
  height: 104px;
  padding: 10px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  background: #f5f5f5;
  box-sizing: border-box;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.input-container textarea:focus {
  border: 1.5px solid #2080f6;
  outline: none;
}
.input-container textarea::placeholder {
  color: #8e8e8e;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-wrapper .date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 19px;
  flex-direction: row;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.input-wrapper .date input {
  width: 120px;
  height: 24px;
}

.radio-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.radio-button-wraperr {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.radio-button input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.radio-button label {
  display: flex;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: stretch;
  gap: 8px;
  align-self: stretch;
  width: 100%;
}

/*  */
.setion-secondary {
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 4px;
  background: #f5f5f5;
  box-sizing: border-box;
}

.order {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-direction: row;
}
.order-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.order-content p {
  color: var(--black, #1f1f1f);
  box-sizing: border-box;
  border-bottom: 1px solid #a8a8a8;
  align-self: stretch;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.order-content span {
  display: flex;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
  color: var(--gray, #8e8e8e);
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.number {
  display: flex;
  border-radius: 4px;
  border: 1px solid #8e8e8e;
  padding: 0 8px;
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.price {
  color: #e90000;
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-self: stretch;
  padding: 10px 0;
  border-top: 1px solid #a8a8a8;
}

.submit-btn {
  display: flex;
  gap: 16px;
  border-radius: 4px;
  align-items: flex-start;
  align-self: stretch;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.submit-btn .submit {
   background: #3d76ba;
  width: 215px;
  border-radius: 4px;
  padding: 8px 24px;
  color: #f8fdfe;
  border: none;
}
.submit-btn .reset {
  border-radius: 4px;
  background: #dedede;
  width: 215px;
  border: none;
  padding: 8px 24px; 
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 52px;
  background: #6d91dc;
  color:  #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
